.projects {
    &__title-h2 {
        text-align: center;
        margin-top: 82px;
    }
    &__lead {
        text-align: center;
        max-width: 60%;
        margin: 24px auto 40px;
    }
    &__buttons {
        display: flex;
        justify-content: center;

        &-items {
            padding: 10px 25px;
            background: none;
            margin-right: 10px;
            outline: none;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__latest-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__latest-projects {
        position: relative;
        margin-bottom: 30px;
    }
    &__latest-upper-block {
        position: relative;
    }
    &__figure-img {
        margin-bottom: -4px;
    }
    &__latest-item {
        padding: 30px;
        box-sizing: border-box;
        max-width: 100%;
    }
    &__overlay {
        position: absolute;
        background-color: rgba(17, 17, 17, 0.7);
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &-zoom {
            cursor: pointer;
            margin-left: 30px;
        }
        &-link {
            opacity: 0;
        }
        &-zoom {
            opacity: 0;
        }
    }
    &__more {
        padding: 15px 45px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
    }
}
@media (max-width: 1140px) {
    .projects {
        &__latest-container {
            justify-content: space-around;
        }
    }
}
