.services {
    &__container {
        padding-top: 80px;
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    &__img-container {
        display: flex;
        align-items: flex-end;
        max-height: 47px;
    }
    &__line {
        margin-top: 30px;
        transition: 1s;
    }
    &__img {
        transition: 0.5s;
    }
    &__title-h3 {
        text-align: center;
        margin-top: 30px;
    }
    &__lead-text {
        margin-top: 20px;
    }
}
