.stats {
    background: rgb(33, 27, 25);
    background: -moz-linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    background: linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211b19",endColorstr="#4e3427",GradientType=1);
    &-container {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 70px;
        margin-bottom: 60px;

        &-container {
            margin-bottom: 30px;
        }
        &-numbers {
            margin-bottom: 20px;

            &__desc {
                margin-bottom: 20px;
            }
        }
    }
}
