// Fonts
@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2") url("../fonts/Montserrat-ExtraLight.woff")
            format("woff"),
        url("../fonts/Montserrat-ExtraLight.ttf") format("ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Light.woff2") format("woff2") url("../fonts/Montserrat-Light.woff") format("woff"),
        url("../fonts/Montserrat-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2") url("../fonts/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"),
        url("../fonts/Raleway-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"),
        url("../fonts/Raleway-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff"),
        url("../fonts/Raleway-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"),
        url("../fonts/Raleway-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff"),
        url("../fonts/Raleway-ExtraBold.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
// General
* {
    margin: 0;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-direction: column;
}
// Home
#check-menu {
    display: none;
}
.home {
    background: rgba(0, 0, 0, 1);
    background-image: url(../img/bg-home.jpg);
    width: 100%;
    height: 100vh;
    background-position-x: center;
    &__burger {
        display: none;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        max-width: 1180px;

        &-left-menu {
            display: flex;
            align-items: center;
            margin-right: 220px;
            text-decoration: none;

            &:hover .home__nav-text {
                color: #c7b299;
            }
            &:hover .home__nav-logo {
                fill: #c7b299;
            }
        }
        &-logo {
            fill: #fff;
            transition: 0.3s;
        }
        &-text {
            font-family: "raleway";
            font-size: 34px;
            color: #fff;
            transition: 0.3s;
        }
        &-right-menu {
            display: flex;
            align-items: center;
            width: 100%;
        }
        &-links {
            display: flex;
            padding: 0;
            flex-grow: 1;
            list-style-type: none;
            align-items: center;
            margin-right: 60px;
            justify-content: space-between;

            &-link {
                font-family: "montserrat";
                font-weight: 300;
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    color: #c7b299;
                }
            }
        }
        &-btn:last-child {
            margin-left: 28px;
        }
        &-basket {
            fill: #fff;
            transition: 0.3s;

            &:hover {
                fill: #c7b299;
            }
        }
        &-search {
            fill: #fff;

            &:hover {
                fill: #c7b299;
            }
        }
    }

    &__container {
        height: 89%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            height: 89%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }
    }
    &__btn {
        border: 0;
        background: transparent;
        outline: none;
        cursor: pointer;
        border: none;

        &-menu {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        &-item {
            background: rgba(255, 255, 255, 0.5);
            outline: none;
            border-radius: 100%;
            width: 10px;
            height: 10px;
            border: none;
            margin-right: 10px;
            transition: 0.3s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background: none;
                border: 1px solid #c7b299;
            }
        }

        &:hover .home__btn-arrow {
            transform: scale(1.25);
        }
        &-arrow {
            fill: rgba(255, 255, 255, 0.3);
            transition: 0.3s;
        }
    }
    &__text {
        &-title {
            &-h2 {
                text-align: center;
                color: #fff;
                font-family: "raleway";
                font-weight: 500;
                font-size: 36px;
            }
            &-h1 {
                text-align: center;
                color: #fff;
                font-family: "raleway";
                font-weight: 800;
                font-size: 52px;
            }
        }
        &-lead {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            font-family: "montserrat";
            font-weight: 200;
            font-size: 16px;
        }
    }
}
// Services
.services {
    &__container {
        display: flex;
        margin-top: 80px;
        justify-content: center;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &:hover .services__img {
            fill: #c7b299;
            transform: scale(1.25);
        }
        &:hover .services__title-h3 {
            color: #c7b299;
        }
        &:hover .services__line {
            fill: #c7b299;
            transform: scale(3, 1);
        }
    }
    &__img-container {
        display: flex;
        align-items: flex-end;
        max-height: 47px;
    }
    &__line {
        margin-top: 30px;
        fill: #f1eee9;
        transition: 1s;
    }
    &__img {
        transition: 0.5s;
        margin-bottom: 30px;
        fill: #555;
    }
    &__title-h3 {
        font-family: "raleway";
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
        color: #555;
        transition: 0.5s;
    }
    &__lead-text {
        font-family: "montserrat";
        font-weight: 300;
        font-size: 14px;
        color: #555;
    }
    &__line {
        margin-bottom: 80px;
    }
}
// Realization
.realization {
    background-color: #fbfaf8;

    &__title-h2 {
        font-family: "raleway";
        font-weight: 600;
        font-size: 30px;
        color: #555555;
        text-align: center;
        margin-top: 80px;
    }
    &__lead {
        color: #8c8c8c;
        font-family: "montserrat";
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        line-height: 28px;
        max-width: 700px;
        margin: 25px auto 35px;
    }
    &__screen {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
    }
    &__img-center {
        z-index: 2;
    }
    &__img-left {
        position: absolute;
        left: 0;
        z-index: 1;
    }
    &__img-right {
        position: absolute;
        right: 0;
        z-index: 1;
    }
}
// Wordpress
.wordpress {
    background: -moz-linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    background: linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211b19",endColorstr="#4e3427",GradientType=1);

    &__container {
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__theme {
        display: flex;
        margin-top: 50px;
    }
    &__waxom {
        font-family: "raleway";
        font-size: 28px;
        color: #c7b299;
        margin-right: 10px;
    }
    &__title-h3 {
        font-family: "raleway";
        font-weight: normal;
        font-size: 28px;
        color: white;
    }
    &__lead {
        font-family: "montserrat";
        font-weight: 300;
        font-size: 18px;
        color: #615855;
        padding-bottom: 50px;
    }
    &__purchase-button {
        font-family: "raleway";
        font-weight: 800;
        font-size: 14px;
        line-height: 23px;
        text-decoration: none;
        color: white;
        padding: 15px 30px;
        background-color: #998675;
        border-radius: 5px;
        border-bottom: 3px solid #736357;
        text-transform: uppercase;
        transition: 0.2s;

        &:active {
            border-bottom: transparent;
            margin-bottom: 3px;
        }
    }
}
// Projects
.projects {
    &__title-h2 {
        color: #555555;
        font-family: "raleway";
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-top: 82px;
    }
    &__lead {
        color: #8c8c8c;
        font-family: "montserrat";
        font-weight: 200;
        font-size: 16px;
        text-align: center;
        max-width: 756px;
        margin: 24px auto 40px;
    }
    &__buttons {
        display: flex;
        justify-content: center;

        &-items {
            padding: 10px 25px;
            font-family: "montserrat";
            font-weight: 200;
            font-size: 14px;
            line-height: 21px;
            color: #8c8c8c;
            background: none;
            border-radius: 10px;
            border: 1px solid #ebebeb;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &:active {
                background: #998675;
                border: 1px solid #ebebeb;
                outline: none;
                color: white;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &__latest-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__latest-projects {
        position: relative;

        &:hover .projects__latest-item {
            background-color: #362f2d;
        }
        &:hover .projects__latest-item::before {
            border-bottom-color: #362f2d;
        }
        &:hover .projects__title-h3 {
            color: white;
        }
        &:hover .projects__sign {
            color: #b8a58e;
        }
        &:hover .projects__overlay {
            top: 0;
            left: 0;
            right: 0;
            bottom: 132px;
            opacity: 1;
        }
    }
    &__figure-img {
        margin-bottom: -4px;
    }
    &__latest-item {
        padding: 30px;
        background-color: #fbfaf8;
        transition: 0.5s;
        box-sizing: border-box;
        max-width: 370px;
        margin-bottom: 30px;

        &::before {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            border: 20px solid transparent;
            border-bottom: 20px solid #fbfaf8;
            position: absolute;
            top: 197px;
            left: 20px;
            transition: 0.5s;
        }
    }
    &__overlay {
        position: absolute;
        background-color: rgba(17, 17, 17, 0.7);
        width: 100%;
        bottom: 300px;
        right: 0;
        left: 0;
        top: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &-zoom {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            margin-left: 30px;
            fill: white;
            transition: 0.5s;

            &:hover {
                fill: #c7b299;
            }
        }

        &-link {
            fill: white;
            transition: 0.5s;

            &:hover {
                fill: #c7b299;
            }
        }
    }
    &__title-h3 {
        font-family: "raleway";
        font-weight: 500;
        color: #c7b299;
        font-size: 20px;
        transition: 0.5s;
    }
    &__sign {
        font-family: "montserrat";
        font-weight: 300;
        font-size: 14px;
        color: #d1d1d1;
        transition: 0.5s;
    }
    &__more {
        background: #998675;
        border: none;
        border-bottom: 3px solid #736357;
        padding: 20px 40px;
        font-family: "raleway";
        font-weight: 800;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        outline: none;
        cursor: pointer;
        border-radius: 5px;

        &:active {
            border: transparent;
            margin-bottom: 3px;
        }
    }
}
// Video
.video {
    &__container {
        margin-top: 80px;
        max-height: 705px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
        }
        &-file {
            position: relative;
            width: 100%;
            outline: none;
            border: none;
        }
    }
    &-play-btn {
        content: "";
        outline: none;
        border: none;
        max-width: 100px;
        max-height: 100px;
        background: transparent;
        transition: 0.5s;
        cursor: pointer;
        margin-bottom: 46px;

        &:hover {
            transform: scale(1.25);
        }
    }
    &-play-btn--hide {
        display: none;
    }
    &__title-h2 {
        font-family: "raleway";
        font-weight: 500;
        font-size: 30px;
        color: white;
        margin-bottom: 28px;
    }
    &__text {
        font-family: "montserrat";
        font-weight: 300;
        font-size: 16px;
        color: white;
        margin-bottom: 40px;
    }
    &__time {
        font-family: "montserrat";
        font-size: 14px;
        color: #c7b299;
    }
}
// Mobile
.mobile {
    &__container {
        display: flex;
        align-items: center;
        margin-top: 80px;
        justify-content: center;

        &-text {
            max-width: 747px;
        }

        &-img {
            max-width: 423px;
        }
        &-tags {
            display: flex;
            justify-content: center;
        }
    }
    &__title-h2 {
        font-family: "raleway";
        font-size: 30px;
        font-weight: 600;
        color: #555555;
    }
    &__lead {
        font-family: "montserrat";
        font-size: 16px;
        color: #8c8c8c;
        font-weight: 300;
        margin-top: 40px;
    }
    &__tags {
        font-family: "montserrat";
        font-size: 16px;
        color: #8c8c8c;
        font-weight: 300;
        margin-top: 50px;
        line-height: 32px;
        list-style-type: none;
        padding: 30px;
        position: relative;

        &-item::before {
            content: "";
            background-image: url(/img/mobile-arrow.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 21px;
            width: 21px;
            position: absolute;
            left: 0;
            padding-top: 10px;
        }
    }
}
// Stats
.stats {
    background: -moz-linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    background: linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211b19",endColorstr="#4e3427",GradientType=1);
    &-container {
        display: flex;
        justify-content: space-around;
        margin-top: 69px;
        margin-bottom: 60px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-numbers {
            font-family: "montserrat";
            font-weight: 200;
            font-size: 48px;
            line-height: 36px;
            color: white;
            position: relative;

            &__desc {
                color: #c7b299;
                font-family: "montserrat";
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                margin-top: 20px;
            }
        }
        &-container {
            margin-bottom: 30px;
        }
        &-img {
            fill: #c7b299;
        }
        &-lines {
            fill: white;
            margin-top: 30px;
        }
    }
}
// Recent
.recent {
    &__title-h2 {
        margin-top: 80px;
        margin-bottom: 30px;
        font-size: 30px;
        color: #555555;
        font-family: "raleway";
        font-weight: 600;
        text-align: center;
    }
    &__lead {
        max-width: 770px;
        font-family: "montserrat";
        font-size: 16px;
        color: #8c8c8c;
        text-align: center;
        margin: 0 auto;
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
    }
    &__posts {
        max-width: 370px;
        padding-bottom: 33px;
        transition: 0.5s;
        margin-top: 40px;
        &-item {
            border: 1px solid #f8f8f8;
            padding-bottom: 33px;
        }
        &-data {
            position: absolute;
            top: 20px;
            left: 10px;
        }
        &-img-block {
            position: relative;
            padding: -4px;
        }
        &-img-dark {
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            margin-bottom: -4px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 228px;
            transition: 0.3s;
        }
        &-text {
            padding: 30px;
            box-sizing: border-box;
        }
        &-title-h3 {
            font-family: "raleway";
            font-weight: 500;
            font-size: 20px;
            color: #555555;
            transition: 0.5s;
        }
        &-lead {
            color: #555555;
            font-size: 14px;
            font-family: "montserrat";
            font-weight: 300;
            line-height: 22px;
            transition: 0.5s;
        }
        &-link {
            text-decoration: none;
            color: #c7b299;
            font-size: 14px;
            font-family: "montserrat";
            font-weight: 300;
            line-height: 20px;
            padding-left: 30px;
            box-sizing: border-box;
            position: relative;
        }
        &-icon {
            margin-left: 5px;
            text-align: start;
        }
        &:hover {
            background-color: #362f2d;
        }
        &:hover .recent__posts-lead {
            color: white;
        }
        &:hover .recent__posts-title-h3 {
            color: #c7b299;
        }
        &:hover .recent__posts-img-dark {
            bottom: 8px;
        }
        &:hover .data__number {
            background-color: #c7b299;
        }
        &:hover .data__month {
            background-color: #a48d72;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 80px;
        &-page {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0;
            fill: #e0e0e0;
            transition: 0.3s;

            &:first-child {
                margin-right: 8px;
            }
            &:hover {
                fill: #c7b299;
            }
        }
    }
}
.data__number {
    background-color: #363636;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: 0.3s;

    &-text {
        padding: 7px 10px;
        font-size: 24px;
        color: white;
        font-family: "montserrat";
        font-weight: 300;
    }
}
.data__month {
    background-color: #252525;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.3s;

    &-text {
        padding: 7px;
        color: white;
        font-family: "roboto";
        font-size: 12px;
        text-align: center;
    }
}
// Logo
.logo {
    background-image: url(/img/logo-bg.jpg);
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__img {
        margin-top: 139px;
        margin-bottom: 139px;
    }
}
// Widget
.widget {
    background-color: #191919;
    &-container {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 85px;
    }
    &__about {
        max-width: 260px;
        &-logo {
            display: flex;
            align-items: center;
        }
        &-img {
            fill: white;
        }
        &-waxom {
            font-family: "raleway";
            font-size: 34px;
            color: white;
        }
        &-lead {
            font-family: "montserrat";
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            color: #555555;
            margin-top: 30px;
            margin-bottom: 32px;
        }
        &-link {
            text-decoration: none;
            color: #d1d1d1;
            font-family: "montserrat";
            font-size: 14px;
        }
        &-icon {
            height: 50%;
        }
    }
    &__posts {
        padding-top: 27px;
        max-width: 270px;
        &-title-h3 {
            font-family: "raleway";
            font-weight: 700;
            color: white;
            font-size: 24px;
        }
        &-item {
            padding-bottom: 24px;
            border-bottom: 1px solid #252525;
            margin-top: 20px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
            &:hover .widget__posts-link {
                color: #c7b299;
            }
            &:hover .widget__posts-data {
                color: white;
            }
        }
        &-data {
            font-family: "montserrat";
            font-weight: 300;
            color: #363636;
            font-size: 12px;
            transition: 0.3s;
        }
        &-link {
            text-decoration: none;
            color: #555555;
            font-family: "montserrat";
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
            transition: 0.3s;
        }
    }
    &__twitter {
        max-width: 270px;
        padding-top: 27px;

        &-title-h3 {
            font-family: "raleway";
            font-weight: 700;
            color: white;
            font-size: 24px;
        }
        &-post {
            padding-bottom: 24px;
            border-bottom: 1px solid #252525;
            margin-top: 20px;

            &:last-child {
                border: none;
            }
        }
        &-text {
            font-family: "montserrat";
            font-weight: 300;
            font-size: 14px;
            color: #555555;
            line-height: 20px;
        }
        &-link {
            color: #00bff3;
            font-family: "montserrat";
            font-weight: 300;
            font-size: 14px;
            transition: 0.3s;
            text-decoration: none;

            &:hover {
                color: #959595;
            }
        }
        &-time {
            color: #363636;
            font-family: "montserrat";
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
        }
    }
    &__dribbble {
        max-width: 270px;
        padding-top: 27px;
        &-title-h3 {
            font-family: "raleway";
            font-weight: 700;
            color: white;
            font-size: 24px;
            margin-bottom: 26px;
        }
        &-block {
            display: flex;
        }
        &-img {
            margin-right: 10px;
            margin-bottom: 10px;
        }
        &-img:nth-child(2) {
            margin-right: none;
        }
        &-img:nth-child(4) {
            margin-right: none;
        }
    }
}
// Footer
.footer {
    background-color: #111111;

    &-container {
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        display: flex;
        align-items: center;
        margin: 49px 0;

        &-text {
            font-family: "montserrat";
            font-size: 13px;
            color: #555555;
            font-weight: 300;
            border-right: 1px solid #252525;
        }

        &-link {
            text-decoration: none;
            font-family: "montserrat";
            font-size: 13px;
            color: #555555;
            font-weight: 300;
            margin-right: 12px;
            transition: 0.3s;

            &:hover {
                color: #c7b299;
            }

            &-bor {
                margin-left: 12px;
                border-right: 1px solid #252525;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    &__design {
        display: flex;
        align-items: center;

        &-lead {
            font-family: "montserrat";
            font-size: 13px;
            color: #555555;
            font-weight: 300;
            border-right: 1px solid #252525;

            &:last-child {
                border-right: none;
                margin-left: 12px;
            }
        }

        &-link {
            text-decoration: none;
            margin-right: 12px;
            transition: 0.3s;

            &:nth-child(2) {
                margin: 0;
            }
            &:hover {
                color: #c7b299;
            }
        }
    }
}
.copyright__company {
    color: #959595;
}

// @media
// Laptop 1024
@media (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
    // Home
    .home {
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;

        &__nav-left-menu {
            margin-right: 120px;
        }
    }
    // Recent
    .recent {
        &__blocks {
            justify-content: space-around;
        }
        &__posts {
            max-width: 300px;

            &-img {
                max-width: 300px;
            }
        }
    }
}
// Tablet
@media (max-width: 768px) {
    .container {
        max-width: 650px;
    }
    // Home
    #check-menu {
        display: none;
    }
    #check-menu:checked ~ .home__nav-links {
        max-height: 100vh;
        font-size: 16px;
    }
    .home {
        &__container {
            height: 88%;
            justify-content: center;
        }
        &__container-text {
            justify-content: center;
        }
        &__btn {
            display: none;
        }
        &__nav {
            margin-top: 0;

            &-left-menu {
                margin-top: 40px;
            }
            &-right-menu {
                position: relative;
                width: 20%;
                align-items: flex-start;
            }
            &-links {
                flex-direction: column;
                order: 2;
                margin-right: 0;
                display: block;
                position: absolute;
                width: 35vh;
                height: 100vh;
                right: -60px;
                background-color: white;
                top: 0;
                max-height: 0;
                font-size: 0;
                overflow: hidden;
                transition: 0.5s all;

                &-item {
                    margin-top: 30px;
                    margin-left: 20px;
                }
                &-item:first-child {
                    margin-top: 80px;
                }
                &-link {
                    width: 100%;
                    display: block;
                    color: #c7b299;
                    font-size: 24px;
                    font-weight: normal;
                }
            }
            &-btn {
                margin-top: 40px;
            }
            &-burger {
                display: block;
                position: absolute;
                top: -7px;
                right: 0;
                height: 100%;
                cursor: pointer;
                margin-top: 40px;
                z-index: 2;

                &-line {
                    position: absolute;
                    top: 8px;
                    right: 10px;
                    height: 3px;
                    width: 25px;
                    background: #c7b299;
                    border-radius: 20px;

                    &:nth-child(2) {
                        top: 16px;
                    }
                    &:nth-child(3) {
                        top: 16px;
                    }
                    &:last-child {
                        top: 24px;
                    }
                }
            }
        }
    }
    #check-menu {
        display: none;
    }
    // Services
    .services {
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin-bottom: 20px;
            transform: scale(1.25);
            &-container {
                max-height: none;
            }
        }
        &__title-h3 {
            font-size: 26px;
        }
        &__lead-text {
            max-width: 60%;
            text-align: center;
            font-size: 17px;
        }
        &__line {
            margin-bottom: 50px;
        }
    }
    // Realization
    .realization {
        &__screen {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            &-left {
                position: static;
            }
            &-right {
                position: static;
            }
            &-center {
                order: 3;
            }
        }
    }
    // Projects
    .projects {
        &__buttons {
            flex-wrap: wrap;
            &-items {
                font-size: 22px;
                margin-right: 35px;
                margin-bottom: 20px;

                &:nth-child(3) {
                    margin-right: 0;
                }

                &:nth-child(4) {
                    margin-bottom: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }
        }
        &__latest {
            &-container {
                justify-content: center;
            }
        }
    }
    // Video
    .video {
        &__text {
            max-width: 650px;
            font-size: 18px;
            text-align: center;
        }
    }
    // Mobile
    .mobile {
        &__container {
            &-img {
                display: none;
            }
        }
        &__title-h2 {
            text-align: center;
        }
        &__tags {
            font-size: 18px;
            margin-top: 25px;
        }
        &__lead {
            font-size: 18px;
        }
    }
    // Recent
    .recent {
        &__blocks {
            flex-direction: column;
            align-items: center;
        }
        &__posts {
            &-text {
                padding: 15px;
            }
            &-link {
                padding-left: 15px;
            }
            &-title-h3 {
                font-size: 24px;
            }
            &-img {
                max-width: 370px;
            }
        }
    }
    // Logo
    .logo {
        background-repeat: no-repeat;
        &-container {
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &__img {
            max-width: 18%;
            margin-top: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
            &:first-child {
                margin-top: 0;
            }
        }
    }
    // Widget
    .widget {
        &-container {
            flex-direction: column;
            align-items: center;
        }
    }
    // Footer
    .footer {
        &-container {
            flex-direction: column;
            align-items: center;
        }
        &__copyright {
            flex-direction: column;
            margin-bottom: 0;

            &-text {
                border: transparent;
            }
            &-link {
                margin: 0;
                &-bor {
                    margin: 0;
                    border: transparent;
                }
            }
        }
        &__design {
            flex-direction: column;
            &-lead {
                border: transparent;
                margin-right: 0;
            }
        }
    }
}
